<%= stylesheet_link_tag :portfolio %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= partial "partials/nav" %>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__media">
                    <img class="article-image" src="../images/header-foster.png" border="0" alt="">
                </div>
                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Context</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            Recently, I participated in <a href="https://www.youtube.com/watch?v=GF1BHppXCq4">NYC Fostercare Policy and Technology Hackathon</a>, a city-hosted event to develop technical solutions to challenges faced by foster youth and community. It was hosted by NYC Administration for Children's Services (ACS), in partnership with the Mayor's Office of Technology and Innovation and Think of Us, a web and mobile platform supporting foster youth to successfully transtion into adulthood.
                        </p>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Problem</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            Foster youth and community is an entirely different domain that I was not accustomed to, with complex problems in foster system, legality, and people. I was motivated to understand underlying challenges, so I spoke with social workers at the hackathon. Common challenges and needs that I've heard:
                        </p>
                        <ul class='mdl-list'>
                            <li class="mdl-list__item">Placing kids in safe, healthy homes is top priority</li>
                            <li class="mdl-list__item">Overseeing welfare of 80 foster kids is overwhelming</span></li>
                            <li class="mdl-list__item">Traveling to see kids at homes consumes time and energy</li>
                            <li class="mdl-list__item">Obtaining kid's documents from different services can take days</li>
                            <li class="mdl-list__item">All important documents are in paper format *scream*</li>
                        </ul>
                    </div>
                </div>

                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Research &amp; Planning</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            Through conversations, I learned about a social worker's responsibilities and challenges that they come across. The biggest problem that affects not only the social workers, but all groups in the foster system is outdated technology - some important documents are in paper format. Social workers have stacks of papers on their desk, and carry around large folders when visiting foster kids at homes. This is a large inconvenience for social workers because they need access to information on the tip of their fingers.
                        </p>
                    </div>
                </div>

                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline pull-left">Solution</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            For this hackathon, I designed 2 ideas for social workers and foster parents. Fostership Portal is for social workers who need accessible information quickly; fostership is a redesign of an existing app, <a href="https://a068-meetourkids.nyc.gov/MOKI/search.do?action=search">Meet Our Kids</a>.
                        </p>
                    </div>
                </div>

                <div class="mdl-card__media">
                    <img class="article-image" src="../images/solution-portal.png" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-width">
                    <h6 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Fostership Portal</h6>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            Fostership Portal is a responsive web application that provides fast access to information for social workers on the go. They can view their upcoming visits and meetings with foster kids/parents, write post-meeting notes, view medical and school documents, and provide access to documents to foster parents. You can view the <a href="https://pivotal.invisionapp.com/share/9Q9L9ZE5B#/screens/209634970" target="_blank">prototype here</a>.
                        </p>
                        <img class="article-image" src="../images/example-portal.png" border="0" alt=""></a>
                        <img class="article-image" src="../images/action-presentation.jpg" border="0" alt=""></a>
                    </div>
                </div>
                <div class="mdl-card__media">
                    <img class="article-image" src="../images/solution-fostership.png" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-width">
                    <h6 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Fostership</h6>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            Fostership is a mobile app that matches potential foster parents to kids in all 5 boroughs of NYC. Foster parents can conveniently look for kids conveniently on their smartphones. You can view the <a href="https://pivotal.invisionapp.com/share/HW9L7RSX8#/screens/209601684_01" target="_blank">prototype here</a>.
                        </p>
                        <img class="article-image" src="../images/example-fostership.png" border="0" alt=""></a>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--accent button-style"><a href="../index.html">View More</a></button>
            </div>
        </div>
    </main>
</div>
