<%= stylesheet_link_tag :portfolio %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= partial "partials/nav" %>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__media">
                    <img class="article-image" src=" ../images/solution-pivotpong1.png" border="0" alt="">
                </div>
                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Context</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                          Ping pong is a great way to take a respite from an 8-hour working day. It provides a mental break for people to relax, have fun, and gain energy to work through the long afternoons. Ping pong also has beneficial effects on productivity, so it is no wonder that successful startsups have ping pong tables in their spaces.
                        </p>
                    </div>

                </div>
                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Problem</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            Through informal user interviews, common problems and needs that were uncovered:
                        </p>
                        <ul class='mdl-list'>
                            <li class="mdl-list__item">Walking around the office to find a player</span></li>
                            <li class="mdl-list__item">Finding a player consumes a good portion of break time</li>
                            <li class="mdl-list__item">Feeling burdened when interrupting people from working</li>
                            <li class="mdl-list__item">Wanting to easily find a player with equal skill</li>
                            <li class="mdl-list__item">Keeping personal score of wins and losses is a pain</li>
                            <li class="mdl-list__item">Wishing to see overall rankings of players</li>
                        </ul>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Research & Planning</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                          Quickly finding an available player and seeing overall rankings were two main needs for users. With those two needs in mind, I brainstormed for solution ideas on paper and narrow them down based on design best practices and instinct. I validated ideas on paper prototpe with a user before moving onto high-fidelity designs and prototype in Adobe Photoshop and Invision App.
                        </p>
                        <img class="article-image" src="../images/example-pivotpong-research.png" border="0" alt="">
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline pull-left">Solution</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            Pivot Pong is a mobile application that can match players to ping pong matches and show score rankings of participating ping pong players. This application is a fun, exciting way to challenge your friends and coworkers. You can view the <a href="https://invis.io/NF519W0MR" target="_blank">prototype here</a>.
                        </p>
                        <img class="article-image" src="../images/example-pivotpong.png" border="0" alt="">
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--accent button-style"><a href="../index.html">View More</a></button>
            </div>
        </div>
    </main>
</div>
