h6.mdl-typography--headline {
  color: #666666;
  font-size: 20px;
}

.article-image-background {
  background-color: #FFFFFF;
}

.diamond-size {
  display: inline;
  float: left;
  border: solid green 1px;
}

.pull-quote {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  width: 90%;
  margin: 36px auto;
}
