h6.mdl-typography--headline {
  color: #666666;
  font-size: 20px;
}

.article-image-background {
  background-color: #FFFFFF;
}

.diamond-size {
  display: inline;
  float: left;
  border: solid green 1px;
}
