@import url("stylesheets/about.css");

.h4 {
  margin: 0;
}

.mbs {
    margin-bottom: 5px;
}

.mbl {
    margin-bottom: 30px;
}

.weight-bold {
  font-weight: bold;
}

.mdl-list__item {
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
  li {
    display: inline;
    padding: 0px 20px;
  }
}
