@import url("stylesheets/about.css");

// .mdl-cell {
//   border: solid green 1px;
// }
//
// .mdl-cell--3-col {
//   border: solid red 1px;
// }
//
// .mdl-list {
//   border: solid orange 1px;
// }

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
  li {
    display: inline;
    padding: 0px 20px;
  }
}

.h4 {
  margin: 0;
}

.mdl-list__item {
  display: block;
}

.weight-bold {
  font-weight: bold;
}
