<%= stylesheet_link_tag :about %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= partial "partials/nav" %>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">About</h2>
                </div>
                <div class="mdl-card__media">
                    <img class="article-image" src=" images/about1.jpg" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-copy">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
                    <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                        <p>
                          A native New Yorker, Sylvia is a product designer who is interested in the crossroads of design, technology, and education. On her spare time, she likes to work on <a href="http://www.instagram.com/hellosylvee">handlettering</a> projects, mess around with <a href="http://www.codepen.io/hellosylvee">code</a> on codepen, and go on travels. You can view her resume <a href="resume.html">here</a>.
                        </p>
                    </div>
                    <ul>
                      <li><a href="https://twitter.com/hellosylvee"><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href="https://medium.com/@hellosylvee"><i class="fa fa-medium fa-2x"></i></a></li>
                      <li><a href="https://dribbble.com/hellosylvee"><i class="fa fa-dribbble fa-2x"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/sylviaclee"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>
