<%= stylesheet_link_tag :about %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!-- <%= partial "partials/nav" %> -->
    <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
        <div class="mdl-layout__header-row portfolio-logo-row">
            <span class="mdl-layout__title">
                <div class="portfolio-logo"></div>
                <span class="mdl-layout__title">Product Design Portfolio</span>
            </span>
        </div>
        <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="../index.html">Portfolio</a>
                <a class="mdl-navigation__link" href="../process.html">Process</a>
                <a class="mdl-navigation__link is-active" href="../about.html">About</a>
                <a class="mdl-navigation__link" href="../contact.html">Contact</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="../index.html">Portfolio</a>
            <a class="mdl-navigation__link" href="../process.html">Process</a>
            <a class="mdl-navigation__link is-active" href="../about.html">About</a>
            <a class="mdl-navigation__link" href="../contact.html">Contact</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">About Sylvee</h2>
                </div>
                <div class="mdl-card__media">
                    <img class="article-image" src=" images/header-about.jpg" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
                    <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding">
                        <p>
                          A native New Yorker, Sylvee is a product designer who is interested in the crossroads of design, technology, and education. On her spare time, she likes to work on <a href="http://www.instagram.com/hellosylvee" target="_blank">handlettering</a> projects, mess around with <a href="http://www.codepen.io/hellosylvee" target="_blank">code</a> on codepen, and go on travels. You can view her resume <a href="resume.html">here</a>.
                        </p>
                    </div>
                    <ul>
                      <li><a href="https://twitter.com/hellosylvee" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href="https://medium.com/@hellosylvee" target="_blank"><i class="fa fa-medium fa-2x"></i></a></li>
                      <li><a href="https://dribbble.com/hellosylvee" target="_blank"><i class="fa fa-dribbble fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>
