<%= stylesheet_link_tag :contact %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= partial "partials/nav" %>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width portfolio-contact">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Contact Sylvee</h2>
                </div>
                <div class="mdl-card__media">
                    <img class="article-image" src="images/contact1.jpg" border="0" alt="">
                </div>
                <div class="mdl-card__supporting-text">
                    <h6 class="center-align">
                        Hello there, I don't bite! For any comments or questions, feel free to reach out to me by entering a note here. Even better, reach out to me on <a href="https://www.twitter.com/hellosylvee">twitter</a>.
                    </h6>
                    <form action="#" class="">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Name">
                            <label class="mdl-textfield__label" for="Name">Enter Name</label>
                            <span class="mdl-textfield__error">Letters and spaces only</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="Email">
                            <label class="mdl-textfield__label" for="Email">Enter Email</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea class="mdl-textfield__input" type="text" rows="5" id="note"></textarea>
                            <label class="mdl-textfield__label" for="note">Enter Note</label>
                        </div>
                        <p>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                                Submit
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
