---
title: Welcome to Homepage
---
<%= stylesheet_link_tag :portfolio %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= partial "partials/nav" %>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                <div class="mdl-card__media">
                    <img class="article-image" src=" images/cards/nexion.png" border="0" alt="">
                </div>
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Nexion Mobile</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Nexion Mobile is a responsive web application that allows any smartphone user to purchase multiple protection plans easily and have their smartphones insured in matter of minutes.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="projects/nexion.html">Read more</a>
                </div>
            </div>
            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                <div class="mdl-card__media">
                    <img class="article-image" src=" images/portfolio/test.jpg" border="0" alt="">
                </div>
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">FocusOne RA</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    FocusOne Risk Analysis is a web application tool to accurately capture anomalies in property values. This is an internal tool used by FocusOne Account Executives to quickly analyze property values and hazardous risks.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="projects/focus.html">Read more</a>
                </div>
            </div>
            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                <div class="mdl-card__media">
                    <img class="article-image" src=" images/cards/rx.png" border="0" alt="">
                </div>
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Rx Emporium</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Rx Emporium is a responsive web application for customers to order and/or refill their medical prescription orders. This application quickly identifies past orders and provide intuitive way to order new prescription medication within minutes.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="projects/rx.html">Read more</a>
                </div>
            </div>
            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                <div class="mdl-card__media">
                    <img class="article-image" src=" images/cards/foster.png" border="0" alt="">
                </div>
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Fostership &amp; Portal</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Fostership is a mobile app that matches potential foster parents to kids in all 5 boroughs of NYC. Fostership Portal is a responsive web application that provides fast access to information for social workers on the go.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="projects/fostership.html">Read more</a>
                </div>
            </div>
            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                <div class="mdl-card__media">
                    <img class="article-image" src=" images/cards/pivotpong.png" border="0" alt="">
                </div>
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Pivot Pong</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Pivot Pong is a mobile application that can match players to ping pong matches and show score rankings of participating ping pong players. This application is a fun, exciting way to challenge your friends and coworkers.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="projects/pivot.html">Read more</a>
                </div>
            </div>
            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                <div class="mdl-card__media">
                    <img class="article-image article-image-background" src=" images/cards/past.png" border="0" alt="">
                </div>
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Past Work</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    A collection of past user experience design and user research projects that were completed for work or hobby reasons. This will take you directly to my previous portfolio, away from this current design website.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="http://hellosylvee.github.io/project.html" target="_blank">Jump to Old Website</a>
                </div>
            </div>
        </div>
    </main>
</div>
