<%= stylesheet_link_tag :styles %>
<%= stylesheet_link_tag :resume %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!-- <%= partial "partials/nav" %> -->
    <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
        <div class="mdl-layout__header-row portfolio-logo-row">
            <span class="mdl-layout__title">
                <div class="portfolio-logo"></div>
                <span class="mdl-layout__title">Product Design Portfolio</span>
            </span>
        </div>
        <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="../index.html">Portfolio</a>
                <a class="mdl-navigation__link" href="../process.html">Process</a>
                <a class="mdl-navigation__link is-active" href="../about.html">About</a>
                <a class="mdl-navigation__link" href="../contact.html">Contact</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="../index.html">Portfolio</a>
            <a class="mdl-navigation__link" href="../process.html">Process</a>
            <a class="mdl-navigation__link is-active" href="../about.html">About</a>
            <a class="mdl-navigation__link" href="../contact.html">Contact</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Resume</h2>
                </div>
                <div class="mdl-grid portfolio-width">
                    <ul>
                      <li><a href="https://twitter.com/hellosylvee" target="_blank"><i class="fa fa-twitter-o fa-2x"></i>twitter</a></li>
                      <li><a href="https://dribbble.com/hellosylvee" target="_blank"><i class="fa fa-envelope-o fa-2x"></i>email</a></li>
                      <li><a href="https://www.linkedin.com/in/sylviaclee" target="_blank"><i class="fa fa-linkedin fa-2x"></i>linkedin</a></li>
                    </ul>
                </div>
                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Experience</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <!-- <%= image_tag "images/logo/pivotal.png", :class => "pivotal-size" %> -->
                        <h4 class="h4"><span>Product Designer</span> at <a href="https://www.pivotal.io" target="_blank">Pivotal Labs</a></h4>
                        <p class="mbs">Jan 2016 - Present | New York, NY</p>
                        <p class="mbl">
                          I design products from Discovery &amp; Framing process to iterative development and delivery with a user-centered approach. I determine best practice approaches and lead clients through lean/agile process. In a collaborative team of clients, developers, and fellow designers, I contribute to product decisions through user research, meeting facilitations, and design pairing.
                        </p>
                        <h4 class="h4"><span>Product Designer</span> at <a href="https://www.nasdaq.com" target="_blank">Nasdaq</a></h4>
                        <p class="mbs">Jan 2014 - Dec 2015 | New York, NY</p>
                        <p class="mbl">
                          Designed major product features that impacted the investor relations community. Took broad, conceptual ideas and turned them into intuitive design experiences. Worked with stakeholders to determine requirements, articulate user needs, and translate them into user interfaces. Prioritized features while communicating product vision to product management, design, and engineering teams.
                        </p>
                        <h4 class="h4"><span>UX Designer</span> at <a href="http://www.sethmoulton.com" target="_blank">Seth Moulton</a></h4>
                        <p class="mbs">Oct 2013 - Feb 2014 | New York, NY</p>
                        <p class="mbl">
                          Worked with a developer to build a website for Seth Moulton, running candidate for Congress. Designed and delivered visual assets such as high-fidelity mockups, sitemap, and donation/subscription workflows for Democrat Seth Moulton website. Seth Moulton now represents for 6th District of Massachusetts.
                        </p>
                        <h4 class="h4"><span>UX Designer</span> at <a href="https://www.wanderant.com" target="_blank">Wanderant</a></h4>
                        <p class="mbs">Oct 2013 - Nov 2013 | New York, NY</p>
                        <p class="mbl">
                          Collaborated with founders to redesign itinerary planning workflow in desktop application. I conducted usability testing with random users who like (or dislike) travel planning, delivered work such as usability findings report, visual and interaction style guides, and redesigned secondary workflows.
                        </p>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Skills</h3>
                    <div class="mdl-cell mdl-cell--3-col mdl-card__supporting-text no-padding">
                        <ul class='mdl-list'>
                            <li class="mdl-list__item weight-bold">Design &amp; UX</li>
                            <li class="mdl-list__item">Design strategy</li>
                            <li class="mdl-list__item">Interaction design</li>
                            <li class="mdl-list__item">Graphic design</li>
                            <li class="mdl-list__item">User research</li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col mdl-card__supporting-text no-padding">
                        <ul class='mdl-list'>
                            <li class="mdl-list__item weight-bold">Languages</li>
                            <li class="mdl-list__item">HTML5 &amp; CSS3</li>
                            <li class="mdl-list__item">Javascript</li>
                            <li class="mdl-list__item">Ruby</li>
                            <li class="mdl-list__item">Spanglish</li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col mdl-card__supporting-text no-padding">
                        <ul class='mdl-list'>
                            <li class="mdl-list__item weight-bold">Software</li>
                            <li class="mdl-list__item">Sketch App</li>
                            <li class="mdl-list__item">Adobe CC</li>
                            <li class="mdl-list__item">Axure/Balsamiq</li>
                            <li class="mdl-list__item">Terminal</li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col mdl-card__supporting-text no-padding">
                        <ul class='mdl-list'>
                            <li class="mdl-list__item weight-bold">Methodologies</li>
                            <li class="mdl-list__item">Lean/Agile</li>
                            <li class="mdl-list__item">BEM/OOCSS</li>
                        </ul>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Activities</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <h4 class="h4"><span>Mentor</span> at <a href="https://www.trydesignlab.com" target="_blank">Designlab</a></h4>
                        <p class="mbs">Dec 2015 - Present | New York, NY</p>
                        <p class="mbl">
                          Designlab is an online learning platform for design, ranging from typography to UX research. I work with students to hone their craft through hands-on projects and 1:1 mentoring by providing annotated feedback and open conversations.
                        </p>
                        <h4 class="h4"><span>Associate Board Member</span> at <a href="https://kafsc.com" target="_blank">KAFSC</a></h4>
                        <p class="mbs">Jun 2015 - Present | New York, NY</p>
                        <p class="mbl">
                          KAFSC is a community-based, nonprofit organization that offers assistance to Korena American families and domestic violence victims in greater New York area. I promote domestic violence awareness, generate funds for the nonprofit organization, and work with executive board members to organize events franing from races to spring formal for young professionals.
                        </p>
                        <h4 class="h4"><span>Designer in Residence</span> at <a href="https://www.generalassemb.ly" target="_blank">General Assembly</a></h4>
                        <p class="mbs">Mar 2014 - Jun 2014 | New York, NY</p>
                        <p class="mbl">
                          Taught extensive UX topics ranging from user research to content strategy to over 25 young professionals of various backgrounds and work experiences. Other responsibilities were holding office hours, working with course producer for curriculum refinement, and grading homework. Increased and maintained overall course satisfaction from 71% to 86%.
                        </p>
                        <h4 class="h4"><span>Organizer</span> at <a href="https://nycuxpa.org" target="_blank">NYC UXPA</a></h4>
                        <p class="mbs">Sep 2013 - Jan 2016 | New York, NY</p>
                        <p class="mbl">
                          New York City User Experience Professionals Association is an international association devoted to assisting new and established professionals in the user experience disciplines. Over 1700 members are in NY chapter alone with a 87% attendance rate. Main tasks are planning and organizing monthly events in NYC area.
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Education</h3>
                    <div class="mdl-cell mdl-cell--4-col mdl-card__supporting-text no-padding">
                        <ul class='mdl-list'>
                            <li class="mdl-list__item">Scrum Master Certification</span></li>
                            <li class="mdl-list__item">at Scrum Alliance</li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-card__supporting-text no-padding">
                        <ul class='mdl-list'>
                          <li class="mdl-list__item">User Experience Immersive</span></li>
                          <li class="mdl-list__item">at General Assembly</li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-card__supporting-text no-padding">
                        <ul class='mdl-list'>
                          <li class="mdl-list__item">BS Policy and Management</span></li>
                          <li class="mdl-list__item">at Carnegie Mellon</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
